
@media screen and (max-width: 1000px) {
    body{
        padding: 0;
    }

    aside{
        width: inherit;
    }
    #periodictable_section{
        position: absolute;
    }


    .element-info_section{
        visibility: visible;
        height: 110vh;
        /* background-color: rgba(140, 140, 140, 0.5); */
        z-index: 1;
    }
    div.element-characteristics{
        height: 70vh;
    }

    .periodic-table-footer{
        padding-top: 120vh;
        width: 1800px;
    }

}


